.mainPageCatalog{
    border: 1px solid black;
    padding-top: 200px;
}
.catalogBody{
    display: flex;
    justify-content: space-between;
}
.catalogItems{
    width: 85%;
    border: 1px solid black;
}
.navigate{
display: flex;
    flex-direction: column;
    width: 10%;
    border: 1px solid black;
}
.linkNav{
    text-decoration: none;
    color: #121212;
    width: 100%;

}