.favoritesSection{
  padding-top: 150px;
  padding-bottom: 50px;
.bodyFavor{
  display: flex;
  justify-content: space-between;
  .favorItems{
    width: 80%;
    display: flex;
    flex-wrap: wrap;

    .haveDontItems{
      font-size: 40px;
    }
  }
  .windInfo{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    //background-image: url("../../assets/header/Ellipse 2.png");
    //background-repeat: no-repeat;
    //background-position: right bottom;
    .haveDontItems{
      font-size: 40px;
    }
  }
  .navigateFavor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 180px;
    height: 275px;
    .basketLi{
      .titleBasket{
        position: relative;
        .countBasket{
          position: absolute;
          display: inline-block;
          bottom: 1px;
          right: -20px;
          width: 15px;
          height: 15px;
          border-radius: 100%;
          background-color: #514a7e;
          color: #fffdf5;
          text-align: center;
        }
      }

    }

    .liItem{
      display: flex;
      &:hover{
        cursor: pointer;
      }
      img{
        height: 16px;
        margin-right: 10px;
      }
      p{
        font-size: 12px;
        color: #121212;
      }
    }
    .underLine{
      position: relative;
      &:after{
        position: absolute;
        content: "";
        width: 180px;
        border-bottom: 1px solid black;
        bottom: -20px;
        left: 1px;
        color: #7d7d7d;
      }
    }

  }
}
}
