.modalBasket {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
}
.modalBasket .wrapperBasket {
  width: 1440px;
  margin: auto;
  background-color: #fffdf5;
}
.modalBasket .wrapperBasket .sectionBasket {
  margin: auto;
  width: 1170px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.modalBasket .wrapperBasket .sectionBasket .basketHeader {
  display: flex;
  width: 22%;
  justify-content: space-between;
  align-items: baseline;
}
.modalBasket .wrapperBasket .sectionBasket .basketHeader .BtnBack {
  background-color: #514a7e;
  border-radius: 100%;
  border: none;
  width: 43px;
  height: 43px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.modalBasket .wrapperBasket .sectionBasket .basketHeader .BtnBack:hover {
  cursor: pointer;
}
.modalBasket .wrapperBasket .sectionBasket .basketHeader .BtnBack img {
  margin: 0;
}
.modalBasket .wrapperBasket .sectionBasket .basketHeader h2 {
  margin-bottom: 50px;
}
.modalBasket .wrapperBasket .sectionBasket .basketHeader img {
  width: 26px;
  height: 30px;
}
.modalBasket .wrapperBasket .sectionBasket .basketBody {
  min-height: 170px;
  max-height: 570px;
  margin-bottom: 50px;
  overflow: scroll;
}
.modalBasket .wrapperBasket .sectionBasket .basketBody .basketItems {
  height: 165px;
  margin-bottom: 50px;
  display: flex;
}
.modalBasket .wrapperBasket .sectionBasket .basketBody .basketItems .itemImg {
  width: 178px;
  height: 165px;
  margin-right: 50px;
  overflow: hidden;
}
.modalBasket .wrapperBasket .sectionBasket .basketBody .basketItems .itemImg img {
  width: 100%;
  filter: drop-shadow(0px 4px 10px rgba(81, 74, 126, 0.2));
}
.modalBasket .wrapperBasket .sectionBasket .basketBody .basketItems .aboutItem {
  margin-right: 150px;
}
.modalBasket .wrapperBasket .sectionBasket .basketBody .basketItems .aboutItem .colorItem {
  margin-right: 10px;
}
.modalBasket .wrapperBasket .sectionBasket .basketBody .basketItems .aboutItem .counter {
  margin-bottom: 30px;
  margin-top: 30px;
}
.modalBasket .wrapperBasket .sectionBasket .basketBody .basketItems .aboutItem .counter .countItem {
  font-weight: 400;
  font-size: 20px;
  color: #514a7e;
  margin-right: 20px;
}
.modalBasket .wrapperBasket .sectionBasket .basketBody .basketItems .aboutItem .counter .countItem:hover {
  cursor: pointer;
}
.modalBasket .wrapperBasket .sectionBasket .basketBody .basketItems .aboutItem .actionBtn span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.modalBasket .wrapperBasket .sectionBasket .basketBody .basketItems span {
  font-size: 14px;
  font-weight: 300;
  color: #7d7d7d;
  margin-right: 20px;
}
.modalBasket .wrapperBasket .sectionBasket .basketBody .basketItems span img {
  width: 17px;
  height: 16px;
  margin: 0;
}
.modalBasket .wrapperBasket .sectionBasket .basketBody .basketItems .priceItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.modalBasket .wrapperBasket .sectionBasket .basketBody .basketItems .priceItem a {
  text-decoration: none;
  color: #514a7e;
}
.modalBasket .wrapperBasket .sectionBasket .basketBody .basketItems .priceItem a img {
  width: auto;
  height: auto;
}
.modalBasket .wrapperBasket .sectionBasket .basketBody .basketItems .priceItem a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.modalBasket .wrapperBasket .sectionBasket .basketBody .basketItems .priceItem .price {
  font-size: 40px;
  font-weight: 400;
  color: #514a7e;
}
.modalBasket .wrapperBasket .sectionBasket .basketFooter .totalInfo {
  display: flex;
  align-items: baseline;
  width: 35%;
  margin-bottom: 10px;
}
.modalBasket .wrapperBasket .sectionBasket .basketFooter .totalInfo .totalPrice {
  font-size: 40px;
  font-weight: 400;
  color: #514a7e;
  margin-right: 50px;
}
.modalBasket .wrapperBasket .sectionBasket .basketFooter .totalInfo .totalCount {
  font-size: 14px;
  font-weight: 300;
  color: #7d7d7d;
}
.modalBasket .wrapperBasket .sectionBasket .basketFooter .order {
  display: flex;
  flex-direction: column;
}
.modalBasket .wrapperBasket .sectionBasket .basketFooter .order form {
  display: flex;
  align-items: center;
}
.modalBasket .wrapperBasket .sectionBasket .basketFooter .order form input {
  zoom: 0.8;
}
.modalBasket .wrapperBasket .sectionBasket .basketFooter .order label {
  font-weight: 300;
  font-size: 12px;
  color: #7d7d7d;
}
.modalBasket .wrapperBasket .sectionBasket p {
  font-size: 20px;
  font-weight: 400;
  color: #121212;
  margin-bottom: 20px;
}

.orderBtn {
  width: 148px;
  height: 37px;
  background: #514a7e;
  border: 1px solid #121212;
  color: #fffdf5;
  margin-bottom: 5px;
}
.orderBtn:hover {
  background-color: #fffdf5;
  color: #514a7e;
  cursor: pointer;
}

/*# sourceMappingURL=basket.module.css.map */
