*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background: radial-gradient(100% 171.87% at 0% 50.24%, rgba(183, 224, 249, 0.2) 0%, rgba(232, 178, 239, 0.2) 100%);
}
.App{
    width: 1440px;
    margin: 0 auto;
    position: relative;
    background-color: white;
    background-image: url("assets/header/Ellipse 2.png"),url("assets/header/Ellipse 2.png"), url("assets/header/Ellipse 2.png"),url("assets/header/Ellipse 5.png"),url("assets/header/Ellipse 2.png"),url("assets/header/Ellipse 50.png");
    background-repeat: no-repeat;
    background-position: right top 2900px, right top 3900px,right top 900px,right top 3800px, right bottom, right bottom;

}
main{
    width: 1170px;
    margin: 0 auto;
    position: relative;


}
.semicircle{
    width: 200px;
    height:200px;
    border-radius:50%;
    border-left:2px solid #514A7E;
    position: absolute;
    top:70%;
    left: 103%;
}
p{
    font-weight: 300;
    font-size: 14px;
    /*line-height: 17px;*/
    color: #7D7D7D;
}
/*@media  (max-width: 390px){*/
/*    .App{*/
/*        width: 390px;*/
/*        height: 812px;*/
/*        overflow: scroll;*/

/*    }*/
/*    main{*/
/*        width: 100%;*/
/*        margin: 0;*/
/*    }*/
/*}*/